
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.DS_Store
src/packages/
doc/~$*
*.~vsdx
packages/
src/cmn.Dlls/*
NuGetPackages/
src/BuildOutput/
!src/.nuget/NuGet.exe
spa/js/lib/
spa/node_modules
spa/build/node_modules/
src/AVG.Web/css/
src/AVG.Web/*.html
src/AVG.Web/js/
spa/.idea/tasks.xml
spa/.idea/workspace.xml
spa/.idea/*.iws
src/AVG.Web/fonts/
spa/projectFilesBackup/
spa/test/testFiles.html
src/Winforms.Base.Dlls/*
spa/bower_modules/
spa/avg_old/
spa/build/
spa/avg/app.version.js
deployments/
src/avg.refs.xml
src/Output/
src/TestOutput/
src/AVG.Web/App_Data/*
!src/AVG.Web/App_Data/Install/
!src/AVG.Web/App_Data/appInfo_DE.xml
!src/AVG.Web/App_Data/appInfo_FR.xml
!src/AVG.Web/App_Data/index.html
*.testresult.xml
src/AVG.Charting.Prototype/node_modules/**/*
!src/AVG.Charting.Prototype/node_modules/dummy.txt
Backup/
extracted/
